---
layout: page
title: APIs 
header: APIs
group: navigation
---
<style>
.release-list {
    list-style-type: none;
    max-height: 120px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    background: white;
    padding-left: 4px;
}
.icon {
    width: 15px;
    height:15px;
    opacity: 0.3;
    margin: 0;
    padding: 0;
}
</style>
<div id="main">    
    <img v-if='!repos' src='/assets/themes/swisspush/images/loading.gif'>
    <div v-for="repo in repos">
        <h2>[[ repo.info.name ]]
            <a :href="'https://github.com/swisspush/'+repo.info.name">
                <img class="icon" src="https://unpkg.com/simple-icons@latest/icons/github.svg"/>
            </a>
        </h2>
        [[ repo.info.description ]] 
        <ul class="release-list">
            <li v-for="release in repo.releases"><a :href="'https://rawgit.com/swisspush/apikana-doc/v0.4.14.2/index.html?url=/swisspush/'+repo.info.name+'/release/'+release+'/src/openapi/api.yaml'">[[ release ]]</a></li>
        </ul>            
    </div>
</div>
<script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-rx"></script>
<script>
    const { ajax } = rxjs.ajax;
    const { filter, map, flatMap, concatMap, tap, toArray } = rxjs.operators;
    const repos$ = ajax({url:"https://api.github.com/users/swisspush/repos?per_page=100", cache: true, headers: {"Accept": "application/vnd.github.mercy-preview+json"}}).pipe(
        flatMap(xhr => xhr.response),
        filter(info => info.topics.includes("api")),
        concatMap(info => ajax({url: info.tags_url, cache: true}).pipe(
            flatMap(xhr => xhr.response),
            filter(tag => tag.name.startsWith("release/")),
            map(tag => tag.name.split("/")[1]),
            toArray(),
            map(releases => new Object({ info, releases }))
        )),
        toArray()
    );
    Vue.options.delimiters = ['[[', ']]'];
    new Vue({
        el: '#main',
        subscriptions: {
            repos: repos$
        }
    });
</script>
