<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link href='//fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/assets/themes/swisspush/css/stylesheet.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}swisspush</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <div class="container">
        <a id="forkme_banner" href="https://github.com/swisspush"><span id="forkme_banner_text">View on </span>GitHub</a>
            <a href="/">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-md-2 logo-wrap">
                            <img id="logo" class="img-responsive" src="https://1.gravatar.com/avatar/cf7292487846085732baf808def5685a?s=140">
                        </div>
                        <div class="col-xs-10 col-md-10">
                            <h1 id="project_title">swisspush</h1>
                            <h2 id="project_tagline">Community Contributions by Developers in the Swiss Postal IT</h2>
                        </div>
                    </div>
                </div>
            </a>
    </div>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section id="main_content">
                    {{ content }}
                </section>
            </div>
            <div class="col-md-4">
                <div id="sidebar" class="container-fluid well">
                    <h5>Recent Articles</h5>
                    <ul class="nav nav-stacked">
                        {% for post in site.posts limit:5 %}
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <h5>Own Projects</h5>
                    <ul class="nav nav-stacked">
                        <li><a href="https://github.com/swisspush/apikana">apikana</a></li>
                        <li><a title="A simple embeddable restful JMX console" href="https://github.com/lbovet/jminix">jminix<img class="iconic" src="https://raw.githubusercontent.com/wiki/lbovet/jminix/images/jminix-cricket.png"></a></li>
                        <li><a href="https://github.com/swisspush/gateleen">gateleen</a></li>
                    </ul>
                    <h5>Contributions</h5>
                    <div id="github-projects"></div>
                    <h5>Content</h5>
                    <ul class="horizontal">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                    </ul>
                    <ul class="horizontal">
                        <li><a href="/about/">About us</a></li>
                        <li><a href="http://www.post.ch/en/post-startseite/post-jobs-und-karriere.htm">Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <div class="container">
        <footer>
            <p>Published with <a href="http://pages.github.com">GitHub Pages</a><span class="date">{{ site.time }}</span></p>
        </footer>
    </div>
</div>

{% include JB/analytics %}

<script src="/assets/js/github.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $("#github-projects").loadRepositories("swisspush");
    });
</script>
</body>
</html>
